*.meta
WorldBook/Library/
WorldBook/Logs/
WorldBook/Packages/manifest.json
WorldBook/ProjectSettings/
WorldBook/Temp/
WorldBook/Assets/Scenes/SampleScene.unity
WorldBook/WorldBook.sln
WorldBook/obj/
WorldBook/.vs/
WorldBook/Assembly-CSharp.csproj
